input[type="email"],
input[type="password"],
input[type="text"] {
    display: block;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #EAEAEA;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: clamp(16px, 3vw, 22px);
    color: #696969;
}

/* Placeholder (texto cinza dentro do campo) */
input::placeholder {
    color: #888;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
}


/* --- Estilos dos Filtros da Tela Inicial --- */
.filter-group input,
.filter-group select {
    flex-grow: 1;
    width: 180px;
    background-color: var(--light-text);
    border: 1px solid var(--light-text);
    border-radius: 20px;
    padding: 8px 10px; 
    color: var(--dark-bg);
    box-sizing: border-box;
    height: 38px; 
}