/* components/molecules/cart-item.css */
.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    background-image: url('../../assets/img/linhaBranca.png'); /* Caminho da imagem */
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 90% 2px; 
    padding-bottom: 22px; 
}

/* Garante que o último item NÃO tenha a linha */
.cart-item:last-child {
    background-image: none;
    padding-bottom: 20px; 
    border-bottom: none; 
}


.cart-item:last-child {
    border-bottom: none; /* Remove a linha do último item */
}

.cart-item-image-container {
    position: relative;
    background-color: #fff; /* Fundo branco para a imagem */
    border-radius: 8px;
    padding: 5px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
}

.cart-item-delete {
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    /* Adicionado para centralizar o ícone perfeitamente */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.cart-item-delete img {
    width: 14px; /* Deixamos o ícone um pouco menor que o botão */
    height: 14px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-details h4 {
    margin: 0 0 5px 0;
    font-size: 1.1rem;
}

.cart-item-details p {
    margin: 0;
    color: var(--gray-text);
    font-size: 0.9rem;
}

.cart-item-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 8px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff;
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 20px;
    
}

.quantity-btn {
    background-color: #e0e0e0;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 10px;
    color: var(--primary-color);
    border-radius: 5px;
}

.quantity-value {
    padding: 5px 10px;
    font-size: 1rem;
}

