.product-card {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    background-color: #1E1E1E;
    border: 1px solid #444;
    border-radius: 0px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.card-header {
    position: relative;
    padding-bottom: 12px;
    background-image: url('../../assets/img/linhaBranca.png'); /* Caminho da imagem ajustado */
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 90% 2px;
    margin: 20px 0;
}

.product-card .product-image {
    width: 150px !important;
    height: 150px !important;
    object-fit: contain;
    margin: 10px auto;
    display: block;
    border-radius: 0px;
}

.product-title {
    font-size: 1.2rem;
    margin: 0 0 10px;
    font-weight: bold;
}

.product-description {
    font-size: 0.9rem;
    color: var(--gray-text);
    margin-bottom: 15px;
}

.product-price {
    font-size: 1.5rem;
    color: #CD004A;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

/* Botão de favorito (que é um átomo de botão, mas seu posicionamento é do card) */
.favorite-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.favorite-btn img {
    width: 28px;
    height: 28px;
}

.heart-img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.favorite-btn.active .heart-icon {
    fill: red;
    stroke: red;
}