.btn-login,
.btn-cadastro {
    padding: clamp(12px, 1vw, 17px);
    font-size: clamp(16px, 1vw, 20px);
    font-weight: 800;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login {
    background-color: var(--btn-primary);
    border-radius: 8px;
}
.btn-login:hover {
    background-color: var(--btn-hover);
}

.btn-cadastro {
    background-color: #448FF2;
    border-radius: 7px;
    margin-bottom: 1rem;
}
.btn-cadastro:hover {
    background-color: #006ddf;
}

.btn-reset,
.btn-reset-group {
    font-weight: 700; 
}
.btn-reset {
    background-color: transparent;
    color: var(--gray-text);
    border: 1px solid var(--gray-text); 
    margin-right: 10px;
}

.btn-reset-group {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    text-align: right;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 5px 0;
}

.btn-category {
    font-weight: 700;
    background-color: transparent;
    color: var(--light-text);
    border: 1px solid var(--gray-text);
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-category.active {
    background-color: var(--light-text);
    color: var(--dark-bg);
    border-color: var(--light-text);
}

.buy-button {
    background-color: var(--primary-color);
    color: var(--light-text);
    border: none;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
    height: fit-content;
}

.buy-button:hover {
    background-color: #CD004A;
}

.payment-tab-btn {
    background: transparent;
    border: none;
    color: var(--gray-text);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 3px solid transparent;
    transform: translateY(1px);
}

.payment-tab-btn.active {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
}

.btn-pix, .btn-pix-copy, .btn-apply-coupon {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-pix, .btn-apply-coupon {
    background-color: var(--primary-color);
    color: var(--light-text);
    border: none;
}
.btn-pix:hover, .btn-apply-coupon:hover {
    background-color: #e5295c;
}

.btn-pix-copy {
    background-color: var(--dark-input-bg, #333); 
    color: var(--gray-text);
    border: 1px solid var(--border-color, #444);
}
.btn-pix-copy:hover {
    background-color: #444;
}

.btn-upload {
    cursor: pointer;
    text-align: left;
}