/* components/organisms/cart-layout.css */

.cart-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    background-color: #1E1E1E; /* Fundo sólido para a área do carrinho */
    padding: 30px;
    border-radius: 10px;
}

.cart-items-column {
    flex: 2.5; /* Coluna da esquerda um pouco maior */
}

.summary-column {
    flex: 1.5; /* Coluna da direita um pouco menor */
}