
.info-field {
    display: flex;
    align-items: center; 
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #444;
}

.info-field img {
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
}

.info-field-text h5 {
    margin: 0 0 4px 0; 
    font-size: 0.8rem;
    color: var(--gray-text);
    text-transform: uppercase;
    font-weight: normal; 
}

.info-field-text p {
    margin: 0;
    font-size: 1rem;
}


.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    color: var(--gray-text);
    cursor: pointer;
}


.checkbox-container input[type="checkbox"] {
    display: none;
}


.checkbox-container .checkmark {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 4px;
    display: inline-block;
}