

.login-form label,
.form-container form label {
    display: block; 
    align-self: flex-start;
    margin-bottom: 0.3rem;
    font-size: clamp(18px, 3vw, 23px);
    color: #1E1E1E; 
    font-weight: 400;
}

.login-form label {
    color: #F8F8F8; 
    
}


.filter-group label,
.filter-category label {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 5px; 
}

.label-dark {
    color: var(--gray-text);
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 5px;
}