.cart-container {
    display: flex;     
    gap: 30px;
    align-items: flex-start;
    background-color: #1E1E1E;
    padding: 30px;
    border-radius: 10px;
}

.cart-items-column {
    flex: 2.5;
    border-right: 1px solid #444;
    padding-right: 30px; 
}

.summary-column {
    flex: 1.5; 
}